#cabecalhoLogin{

    margin-top: 8%;

}

#tituloPrincipal{

    font-size: 90px;
    
}

.botoesLogin{

    margin-top: 70px;
    height: 40px;
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
}



