#divPrincipal
{

    height: 600px;
    width: 400px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

    border: 1px solid black;
    border-radius: 10%;
    background-color: whitesmoke;
    text-align: center;

    /* Centralizando com o position: fixed */
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    
}

#display
{
    position: absolute;
    top: 95px;
    left: 40px;

    padding: 10px;

    font-size: 30px;
    text-align: right;

    box-sizing: border-box;
    text-align: right;

    background-color: white;

    border: 1px solid black;
    border-radius: 12px;

    height: 80px;
    width: 320px;

}

#status{

    position: absolute;
    top: 105px;
    left: 50px;

    border: 1px solid black;
    height: 18px;
    width: 25px;

    border-radius: 5px;

    text-align: 50%;
    font-size: 15px;
}

.botoes
{
    position: relative;
    top: 100px;

    height: 50px;
    width: 70px;

    text-align: center;
    
}