#spanSaldo{

    position: relative;
    top: -20px;
    left: -300px;
    font-size: 35px;

}

.botoesMenu{

    height: 70px;
    width: 300px;
    margin-top: 30px;
}

#corpoMenu{

    margin-top: 20px;
}
